@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Adicione esta regra ao seu globals.css */
.react-calendar__month-view__weekdays__weekday {
  color: black !important;
}

/* Adicione esta regra ao seu globals.css */
.custom-calendar {
  width: 100%;
  max-width: 800px; /* Ajuste o valor conforme necessário */
  margin: 0 auto;
}

.custom-calendar .react-calendar {
  width: 100%;
  height: 100%;
}

/* Adicione esta regra ao seu globals.css */
.tile-disabled {
  color: #d3d3d3 !important; /* Cor cinza claro para datas apagadas */
}
